*.iml

# Gradle and build outputs
.gradle/
**/build/

# Local machine config
local.properties

# Android Studio / IntelliJ
.idea/

# Android generated folders
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store

